!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/header'
    -#= render 'flash'
    = yield
    = render 'layouts/footer'
    %script{src: "https://use.fontawesome.com/67602d7308.js"}
